{% extends "base.html" %}
{% load static %}

{% block content %}
    {#    <h1>Cart</h1>#}

    {% if cart.products.exists %}
        <h1>Product list</h1>
        <table class="table cart-table">
            <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Product Price</th>
            </tr>
            </thead>
            <tbody class='cart-body'>
            {% for product in cart.products.all %}
                <tr class='cart-product'>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        <div>
                            <a href='{{ product.get_absolute_url }}'>
                                <div>
                                    <h4>
                                        {{ product.title }}
                                    </h4>
                                </div>

                                <img src="{{ product.image.url }}" style="height: 200px;width:200px;" alt="image">
                            </a>
                            <div class="d-flex justify-content-end">
                                {% include 'carts/snippets/remove-product.html' with product_id=product.id %}
                            </div>
                        </div>

                    </td>
                    <td>৳ {{ product.price }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2"></td>
                <td><b>Subtotal</b> ৳ <span class='cart-subtotal'>{{ cart.subtotal }}</span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td><b>Total</b> ৳ <span class='cart-total'>{{ cart.total }}</span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td><a class='btn  btn-success' href='{% url "cart:checkout" %}'>Using Card</a>
                    <a class='btn btn-info' href='{% url "cart:others-checkout" %}'>Others</a>
                </td>
            </tr>

            </tbody>
        </table>

        <div class='cart-item-remove-form' style='display:none'>

            {% include 'carts/snippets/remove-product.html' %}
        </div>

    {% else %}
        <h1>Cart is empty</h1>
        <img src="{% static 'img/empty_cart.png' %}" alt="">
    {% endif %}


{% endblock %}