<form method='POST' action='{% if action_url %}{{ action_url }}{% else %}{% url "login" %}{% endif %}'> {% csrf_token %}
    {% if next_url %}
        <input type='hidden' name='next' value='{{ next_url }}'/>
    {% endif %}
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <h1>Continue as Guest</h1>
            </div>

            <!-- Login Form -->

            <form method="POST">
                {% csrf_token %}
                {{ form.as_table }}
                <input type="submit" class="fadeIn fourth login_button" value="Log In">
            </form>

            <!-- Remind Passowrd -->
{#            <div id="formFooter">#}
{#                <a href="{% url "register" %}">Create account</a>#}
{#            </div>#}

        </div>
    </div>
    {#  <button type='submit' class='btn btn-default'>Submit</button>#}
</form>